#temperature {
  font: var(--font-serif);
  font-size: 7em;
  padding-left: 0.28em;
}

#temperature sup {
  font-size: 0.3em;
  position: relative;
  top: -0.7em;
  left: -0.1em;
}

#first table {
  margin: 8pt auto;
  font-size: 0.8em;
}

#first img {
  width: 60%;
}


#first table td {
  width: 25%;
  padding-right: 0.5em;
}

.key {
  font-weight: 700;
  text-align: right;
}

#middle {
  border-top: 1px solid var(--BR);
}

#second table {
  width: 100%;
  border-top: 1px solid var(--BR);
  border-collapse: collapse;
}

#second table img {
  width: 50%;
}

#second table td + td {
  border-left: 1px solid var(--BR);
}

#second table td {
  text-align: center;
  padding: 0.4em 0;
  word-wrap: break-word;
}

#alerts {
  width: 100%;
  padding: 0.5em;
  border: 1px solid var(--BR);
}


#alerts > p {
  margin-bottom: 0.5em;
  text-align: center;
}

.individual-alert {
  display: flex;
}

.individual-alert > p{
  min-width: 9em;
}

details {
  cursor: pointer;
}

.hidden {
  font-size: 0.7em;
  margin: 0.3em 0;
}

#text-description {
  font: var(--font-serif);
  font-size: 1.5em;
}


