#temperature {
  font: var(--font-serif);
  font-size: 7em;
  padding-left: 0.333em;
}

#temperature sup {
  font-size: 0.3em;
  position: relative;
  top: -0.7em;
  left: -0.4em;
}

#first table {
  margin: 8pt auto;
  font-size: 0.8em;
}

#first img {
  width: 60%;
}


#first table td {
  width: 25%;
  padding-right: 0.5em;
}

.key {
  font-weight: 700;
  text-align: right;
}

#second table {
  border-top: 1px solid var(--BR);
  border-collapse: collapse;
}

#middle {
  border-top: 1px solid var(--BR);
}

#second table img {
  width: 60%;
}

#second table tr {
  width: 100%;
  display: table;
  table-layout: fixed;
}

#second table td + td {
  border-left: 1px solid var(--BR);
}

#second table td {
  text-align: center;
  padding: 0.4em 0;
  word-wrap: break-word;
}

#alerts {
  padding: 0.5em;
  overflow: scroll;
  border: 1px solid var(--BR);
}

#alerts > p {
  margin-bottom: 0.5em;
  text-align: center;
}

#alerts details summary {
  cursor: pointer;
}

#alerts details summary .left {
  width: 9em;
  font-weight: 700;
  display: inline-block;
}

#alerts details summary .right {
  display: block;
  padding-left: 9.5em;
}


#alerts details .hidden {
  font-size: 0.8em;
  padding-left: 12.35em;
  padding-right: 2em;
  margin: 1em 0;
}


#text-description {
  font: var(--font-serif);
  font-size: 1.5em;
}


